<!DOCTYPE html>
<html lang="en">
<head>
    <!-- AJAX è javascript che manda request al server e gestisce le response-->
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>


    <script>
        let persone =null;//variabile js

        function caricaPersone()
        {
            $.get
            (
                'http://localhost:8080/persons',
                function(resp)//qui scriviamo funzione che viene richiamata in automatico quando arriva response
                {
                    persone = resp;
                }
            );
        }

        function mostraTutte()
        {
            if(persone==null){
                alert("PERSONE NON ANCORA LETTE");
                return;
            }
            let contenuto = `<h1>LA MIA LISTA DI PERSONE</h1><br/>`;
            for(let person of persone){
                contenuto += `<h2>${person.name}   ${person.surname}  anni: ${person.age}</h2><br/>`;
            }
            contenuto += `<h1>FINE LISTA</h1>`;
            document.getElementById("listaPersone").innerHTML = contenuto;
        }

        function mostraTutte25()
        {
            if(persone==null){
                alert("PERSONE NON ANCORA LETTE");
                    return;
            }
            let contenuto = `<h1>LA MIA LISTA DI PERSONE PIÙ 25 anni</h1><br/>`;
            for(let person of persone)
            {
                if(person.age>25)
                    contenuto += `<h2>${person.name}   ${person.surname}  anni: ${person.age}</h2><br/>`;
            }
            contenuto += `<h1>FINE LISTA</h1>`;
            document.getElementById("listaPersone").innerHTML = contenuto;
        }


    </script>


</head>
<body>
<button onclick="caricaPersone()">CARICA</button>
<button onclick="mostraTutte()">GUARDA TUTTE</button>
<button onclick="mostraTutte25()">GUARDA25</button>
<div id="listaPersone">
    INNER HTML, QUELLO CHE VADO A SOSTITUIRE
</div>


</body>
</html>