<!DOCTYPE html>
<html lang="en">
<head>
    <!-- AJAX è javascript che manda request al server e gestisce le response-->
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>


    <script>

        function leggiPersone()
        {
            //js mandi una request get a localhost:8080/persons
            //jquery -> $
            $.get
            (
                'http://localhost:8080/persons',//action della form, href del link
                function(resp)//qui scriviamo funzione che viene richiamata in automatico quando arriva response
                {
                    console.log(resp);
                    //prendi la pagina
                    ///         prendi l'elemento con id="listaPersone"
                    //                                  prendi il suo HTML interno
                    //                                                  mettici dentro la response
                    // document.getElementById("listaPersone").innerHTML = resp;
                    // let a   = "ciao";
                    // let b   = "stefano";
                    // let c   = `ciao`;//alt+96
                    // let contenuto =`${a} sono ${b}`;//interpolazione
                    let contenuto = `<h1>LA MIA LISTA DI PERSONE</h1><br/>`;

                    //foreaccho la mia lista di persone
                    //for(Person person : resp)
                    for(let person of resp){
                        contenuto += `<h2>${person.name}   ${person.surname}  anni: ${person.age}</h2><br/>`;
                    }
                    contenuto += `<h1>FINE LISTA</h1>`;
                    console.log(contenuto);
                    document.getElementById("listaPersone").innerHTML = contenuto;
                }
            );

            //il secondo parametro è la funzione che dovrà gestire la response
        }

        function leggiPersone25()
        {
            $.get
            (
                'http://localhost:8080/persons/age25',//action della form, href del link
                function(resp)//qui scriviamo funzione che viene richiamata in automatico quando arriva response
                {
                    let contenuto = `<h1>LA MIA LISTA DI PERSONE</h1><br/>`;

                    for(let person of resp){
                        contenuto += `<h2>${person.name}   ${person.surname}  anni: ${person.age}</h2><br/>`;
                    }
                    contenuto += `<h1>FINE LISTA</h1>`;
                    document.getElementById("listaPersone").innerHTML = contenuto;
                }
            );

            //il secondo parametro è la funzione che dovrà gestire la response
        }


    </script>


</head>
<body>
<button onclick="leggiPersone()">GUARDA</button>
<button onclick="leggiPersone25()">GUARDA25</button>
<div id="listaPersone">
    INNER HTML, QUELLO CHE VADO A SOSTITUIRE
</div>


</body>
</html>